<template>
  <div class="row application-form border rounded">
    <div class="col">
      <h4>Application | {{ planType }}</h4>

      <hr/>

      <div class="form-group">
        <label for="dependentRelationship">Plan Type</label>
        <select class="form-control planType">
          <option
            v-for="(x, index) in planOptions"
            :selected="planType == x ? true : false"
            :key="index"
          >{{ x }}</option>
        </select>
      </div>

      <hr />

      <h5>Primary Applicant</h5>

      <ApplicantList :applicants="primary" />

      <hr />

      <h5>Dependents</h5>

      <ApplicantList :applicants="dependents"/>

      <hr />
      <button v-on:click="close" type="submit" class="btn btn-danger">Delete Application</button>
    </div>
  </div>
</template>

<script>
import ApplicantList from "./ApplicantList.vue";

export default {
  name: "ApplicationForm",
  props: ["planType", "primary", "dependents", "applicationId"],
  components: {
    ApplicantList,
  },
  data: function() {
    return {
      planOptions: [
        "Suite",
        "Large Private",
        "Regular Private (250)",
        "Regular Private (200)",
        "Senior Suite",
        "Senior Large",
        "Senior Regular (250)",
        "Senior Regular (200)",
      ],
    };
  },
  methods: {
    close: function() {
      this.$emit("closeAppForm", this.applicationId);
    }
  }
};
</script>
