<template>
<form class="form-horizontal border rounded">

    <h4>Employee Information</h4>
    <div class="form-group">
        <label for="employeeName">Employee Name</label>
        <input type="text" class="form-control" id="employeeName" placeholder="Enter Full Name">
    </div>


    <div class="form-group">
        <label for="employeeBirthday">Birthday</label>
        <input type="date" id="employeeBirthday" class="form-control" name="employeeBirthday">
    </div>

    <div class="form-group">
        <label>
        Married <input type="checkbox" id="employeeMarried" class="form-control" data-toggle="toggle"> 
        </label>
    </div>
</form>
</template>


<script>
export default {
  name: 'EmployeeForm'
}
</script>

<style>

.border {
  padding: 25px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
</style>
